<div class="content" id="green-page">

    <div id="green-table">
        <table class="select-green">
            <tr>
                <th>#</th>
                <th>Event</th>
            </tr>
            <tr>
                <td id="green-num">1</td>
                <td id="green-data"><span id="green-larger">-</span><img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">2</td>
                <td id="green-data"><img src="../assets/images/backward.png" height="30px"> 2 spaces</td>
            </tr>
            <tr>
                <td id="green-num">3</td>
                <td id="green-data"><span id="green-larger">+</span><img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">4</td>
                <td id="green-data"><img src="../assets/images/forward.png" height="30px"> 2 spaces</td>
            </tr>
            <tr>
                <td id="green-num">5</td>
                <td id="green-data">Jump to next <img src="../assets/images/greencircle.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">6</td>
                <td id="green-data">Jump to <img src="../assets/images/star.png" height="30px"></td>
            </tr>
        </table>

        <button ng-click="green.rollDice()" id="green-result" src="../assets/images/block2.png"> {{green.spin}} </button>

</div>





</div>
