<div class="content" id="newgame-page">

<div id="char-select" ng-controller="TurnController as turn">

<h3>Choose your characters!</h3>

<div id="char-forms">


<form>
  <h6>P1</h6>
  <input id="name" ng-init="player.playerOne.player_num = 1" type="text" placeholder="Name" ng-model="player.playerOne.name" required/>

  <select ng-model="player.playerOne.character">
    <option id="character" ng-value="player.mario">Mario</option>
    <option id="character" ng-value="player.luigi">Luigi</option>
    <option id="character" ng-value="player.peach">Peach</option>
    <option id="character" ng-value="player.toad">Toad</option>
    <option id="character" ng-value="player.koopa">Koopa</option>
    <option id="character" ng-value="player.dk">DK</option>
  </select>

  <!-- <button type="submit" id="ready" ng-click="player.createPlayer(player.playerOne)">Add P1</button> -->
  <div id="new-character"><img ng-if="player.playerOne.character" ng-src="{{player.playerOne.character}}" /></div>
</form>





<form>
  <h6>P2</h6>
  <input id="name" ng-init="player.playerTwo.player_num = 2" type="text" placeholder="Name" ng-model="player.playerTwo.name" required/>

  <select ng-model="player.playerTwo.character">
    <option id="character" ng-value="player.mario">Mario</option>
    <option id="character" ng-value="player.luigi">Luigi</option>
    <option id="character" ng-value="player.peach">Peach</option>
    <option id="character" ng-value="player.toad">Toad</option>
    <option id="character" ng-value="player.koopa">Koopa</option>
    <option id="character" ng-value="player.dk">DK</option>
  </select>

  <!-- <button type="submit" id="ready" ng-click="player.createPlayer(player.playerTwo)">Add P2</button> -->
  <div id="new-character"><img ng-if="player.playerTwo.character" ng-src="{{player.playerTwo.character}}" /></div>
</form>

<form>
  <h6>P3</h6>
  <input id="name" ng-init="player.playerThree.player_num = 3" type="text" placeholder="Name" ng-model="player.playerThree.name" required/>

  <select ng-model="player.playerThree.character">
    <option id="character" ng-value="player.mario">Mario</option>
    <option id="character" ng-value="player.luigi">Luigi</option>
    <option id="character" ng-value="player.peach">Peach</option>
    <option id="character" ng-value="player.toad">Toad</option>
    <option id="character" ng-value="player.koopa">Koopa</option>
    <option id="character" ng-value="player.dk">DK</option>
  </select>

  <!-- <button type="submit" id="ready" ng-click="player.createPlayer(player.playerThree)">Add P3</button> -->
  <div id="new-character"><img ng-if="player.playerThree.character" ng-src="{{player.playerThree.character}}" /></div>
</form>

<form>
  <h6>P4</h6>
  <input id="name" ng-init="player.playerFour.player_num = 4" type="text" placeholder="Name" ng-model="player.playerFour.name" required/>

  <select ng-model="player.playerFour.character">
    <option id="character" ng-value="player.mario">Mario</option>
    <option id="character" ng-value="player.luigi">Luigi</option>
    <option id="character" ng-value="player.peach">Peach</option>
    <option id="character" ng-value="player.toad">Toad</option>
    <option id="character" ng-value="player.koopa">Koopa</option>
    <option id="character" ng-value="player.dk">DK</option>
  </select>

  <!-- <button type="submit" id="ready" ng-click="player.createPlayer(player.playerFour)">Add P4</button> -->
  <div id="new-character"><img ng-if="player.playerFour.character" ng-src="{{player.playerFour.character}}" /></div>

</form>
</div> <!-- END CHAR FORMS -->

<button id="startgame" ng-click="turn.beginGame(); player.createPlayer(player.playerOne); player.createPlayer(player.playerTwo); player.createPlayer(player.playerThree); player.createPlayer(player.playerFour)"><a href="/playerspage">Start!</a></button>

</div>



</div>
