<div class="content" id="players-page">
  <!-- <h3>Players!</h3> -->
<div id="all-players">


<div class="player-display">
<img src="{{ player.playersArray[0].character }}" />
<p><span id="display-name">{{ player.playersArray[0].name }}</span> <br />
  <img id="display-small" src="../assets/images/coin.png" /> {{ player.playersArray[0].coins }}
  &nbsp; <img id="display-small" src="../assets/images/star.png" /> {{ player.playersArray[0].stars }}</p>
<p>P1</p>
</div>

<div class="player-display">
<img src="{{ player.playersArray[1].character }}" />
<p><span id="display-name">{{ player.playersArray[1].name }}</span> <br />
<img id="display-small" src="../assets/images/coin.png" /> {{ player.playersArray[1].coins }}
  &nbsp; <img id="display-small" src="../assets/images/star.png" /> {{ player.playersArray[1].stars }}
</p>
<p>P2</p>
</div>

<div class="player-display">
<img src="{{ player.playersArray[2].character }}" />
<p><span id="display-name">{{ player.playersArray[2].name }}</span> <br />
<img id="display-small" src="../assets/images/coin.png" /> {{ player.playersArray[2].coins }}
  &nbsp; <img id="display-small" src="../assets/images/star.png" /> {{ player.playersArray[2].stars }}
</p>
<p>P3</p>
</div>

<div class="player-display">
<img src="{{ player.playersArray[3].character }}" />
<p><span id="display-name">{{ player.playersArray[3].name }}</span> <br />
<img id="display-small" src="../assets/images/coin.png" /> {{ player.playersArray[3].coins }}
  &nbsp; <img id="display-small" src="../assets/images/star.png" /> {{ player.playersArray[3].stars }}
</p>
<p>P4</p>
</div>




</div> <!-- END ALL PLAYERS -->





</div>
