<div class="content" id="rules-page-color">

    <!-- <h2><img src="../assets/images/gear.png" height="80px">
      Rules <img src="../assets/images/gear.png" height="80px"></h2> -->


    <audio src="audio/underground.mp3" autoplay>
    </audio>

<div class="rule-col-1">
    <div id="ruleDescrip">
      <h5>How To Play</h5>
        <h4>Starting out</h4>
        <ul>
            <li>All players roll 2 dice to decide play order</li>
            <li>Play order determines Player #</li>
            <li>All players start with 3 coins</li>
        </ul>

        <h4>Each turn</h4>
        <ul>
            <li>Roll 2 dice</li>
            <li>After all players turns, go to <a href="game.html">mini game page</a></li>
        </ul>

        <h4>Candy</h4>
        <ul>
          <li>Candy must be used at beginning of turn</li>
          <li>Purchase candy at end of turn</li>
          <li>Cannot use landing coins to purchase candy</li>
        </ul>

          <h4>Mini Games</h4>
          <ul>
            <li>Select a mini game at the end of each round</li>
            <li>Winner(s) receives <img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></li>
            <li>In the event of a battle mini game: players ante to play, and play for the pot</li>
            <!-- <li></li> -->
          </ul>

        <h4>End of game</h4>
        <ul>
          <li><b>Possible Bonus Stars:</b></li>
          <li>Most Mini-Game wins</li>
          <!-- <li>Most slot plays in one turn</li> -->
          <li>Most green spaces</li>
          <li>Most red spaces</li>
          <li>Most candy purchased</li>
          <li></li>
        </ul>
    </div>
</div> <!-- end col 1 -->



<div class="rule-col-2">
          <h3>Spaces</h3>
  <div id="rule-subcol-1">


        <table class="rules">
            <tr>
                <th>Space</th>
                <th>Description</th>
            </tr>
            <tr>
                <td class="space-descrip-circle" id="blue"></td>
                <td><span id="green-larger">+</span> <img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td class="space-descrip-circle" id="red"></td>
                <td><span id="green-larger">-</span> <img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td class="space-descrip-circle" id="greentd"></td>
                <td>Roll for <a href="green.html">event</a> </td>
            </tr>
            <tr>
                <td class="space-descrip-circle" id="darkgreen"> &emsp;&emsp;&emsp;&emsp; </td>
                <td><span id="green-larger">-</span> <img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
              <td class="space-descrip-circle" id="black"></td>
              <td><a href="/bowser">Bowser</a></td>
            </tr>
        </table>

        <table class="rules" id="candy-table">
          <tr>
            <th>Candy</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="red-candy"><img src="../assets/images/candy.png" /></td>
            <td>Jump to another player</td>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="yellow-candy"><img src="../assets/images/candy.png" /></td>
            <td>Swap places with another player</td>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="green-candy"><img src="../assets/images/candy.png" /></td>
            <td>Battle first player passed</td>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="blue-candy"><img src="../assets/images/candy.png" /></td>
            <td>Change location of star</td>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="black-candy"><img src="../assets/images/candy.png" /></td>
            <td>Roll 3 dice</td>
          </tr>
          <tr>
            <td class="space-descrip-circle" id="white-candy"><img src="../assets/images/candy.png" /></td>
            <td>Steal 2 coins from each player passed</td>
          </tr>
        </table>


  </div> <!-- end subcol 1 -->

  <div id="rule-subcol-2">
        <table class="rules">
            <tr>
                <th>Special Spaces</th>
                <th>Description</th>
            </tr>
            <tr>
                <td id="rainbow"><img src="../assets/images/star.png" height="100px"></td>
                <td>Costs 6 &nbsp; <img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td><img src="../assets/images/mushroom.png" height="100px"><br>Candy Shop</td>
                <td>Buy candy, bitch</td>
            </tr>
            <tr>
                <td><img src="../assets/images/lakitu.png" height="100px"><br>Lakitu</td>
                <td>Pay <img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"> to travel between posts</td>
            </tr>
            <tr>
                <td><img src="../assets/images/yoshi.png" height="140px"><br>Casino</td>
                <td>
                  <img src="../assets/images/coin.png" height="30px"> per 3 spins<br>
                  Limit 1 jackpot per play
                </td>
            </tr>
        </table>
      </div>
</div> <!-- end col 2 -->


</div> <!-- END PAGE -->
